* {
  /* outline: 1px solid red !important; */
}

html,
body {
  font-size: 20px;
  /* background-color: rgba(231, 236, 239, 0.4); */
  background-color: rgba(253, 255, 252, 0.4);
}
.container {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 80px 192px;
}
.left-pane {
  height: 100vh;
  position: fixed;
  width: 30%;
}
.right-pane {
  width: 58%;
  float: right;
  padding-bottom: 60px;
}
.profile-photo {
  width: 432px;
  height: 502px;
  background-image: url(../images/user-2.jpeg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 432px 502px;
}
.button {
  padding: 14px 28px 10px 28px;
  background: none;
  border: 1px solid #6096ba;
  color: #5895bd;
  border-radius: 4px;
  font-family: madaSemiBold;
  font-size: 16px;
  vertical-align: middle;
}
.grouped-buttons {
  margin-top: 64px;
  display: flex;
  align-items: center;
}
.button:hover {
  background: #6096ba;
  color: #ffffff;
  cursor: pointer;
}
.grouped-buttons a {
  padding: 8px 0 0 28px;
}
.svg {
  fill: rgba(96, 150, 186, 0.8);
}
.svg:hover {
  fill: rgb(96, 150, 186);
}
.tech-stack {
  margin-top: 12px;
}
.tech-stack svg {
  border: 1px solid rgba(196, 196, 196, 0.4);
  padding: 8px;
  margin-right: 16px;
  border-radius: 4px;
}
.projects {
  margin: 64px 0;
}
.work-experience {
  margin-top: 64px;
}
.numbering {
  font-family: silkamono;
  font-size: 14px;
  color: #de5c4c;
}
a {
  text-decoration: none;
  color: #6096ba;
  font-family: madaRegular;
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}

h4 {
  margin-bottom: 8px;
}
h2,
h3,
h5,
p {
  margin: 0 0 8px 0;
}
.dribbble-shot {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 27px rgb(150 150 150 / 24%);
}
.dribbble-shot:nth-child(odd) {
  margin-bottom: 24px;
}
.image-border {
  width: 300px;
  height: 346px;
  border: 3px solid #f08080;
  border-radius: 8px;
}
.image-style {
  width: 300px;
  height: 346px;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  right: 20px;
}

.project-card {
  padding: 20px;
  border: 1px solid rgba(210, 210, 210, 0.6);
  border-radius: 8px;
  background-color: rgba(253, 255, 252, 0.8);
  margin-bottom: 16px;
}
.project-card-meta {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.languages span {
  margin-right: 8px;
}
.links {
  margin-left: 24px;
}
.links svg {
  margin-right: 16px;
}
.company-name {
  color: #6096ba;
  font-family: madaSemiBold;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 48px 24px;
  }
  .left-pane {
    height: 70%;
    position: relative;
    width: 100%;
  }
  .right-pane {
    width: 100%;
    padding-bottom: 48px;
  }
  .image-border {
    width: 300px;
    height: 322px;
    border: 3px solid #f08080;
    border-radius: 8px;
  }
  .image-style {
    width: 300px;
    height: 322px;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    right: 20px;
  }

  .dribbble-shot {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 27px rgb(150 150 150 / 24%);
  }
  .dribbble-shot:nth-child(odd) {
    margin-bottom: 24px;
  }
}

.link-style {
  background-color: #cfe0ea;
  padding: 1px 4px;
  border-radius: 3px;
  color: #3a5a70;
  font-size: 14px;
  border: 1px solid #bfd5e3;
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 48px 24px;
  }
  .left-pane {
    height: 70%;
    position: relative;
    width: 100%;
  }
  .right-pane {
    width: 100%;
    padding-bottom: 48px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 80px;
  }
  .left-pane {
    height: 100vh;
    position: fixed;
    width: 24%;
  }
  .right-pane {
    width: 54%;
    float: right;
    padding-bottom: 60px;
  }
  .image-border {
    width: 300px;
    height: 346px;
    border: 3px solid #f08080;
    border-radius: 8px;
  }
  .image-style {
    width: 300px;
    height: 346px;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 80px 40px;
  }
  .left-pane {
    height: 100vh;
    position: fixed;
    width: 38%;
  }
  .right-pane {
    width: 50%;
    float: right;
    padding-bottom: 60px;
  }
  .image-border {
    width: 300px;
    height: 322px;
    border: 3px solid #f08080;
    border-radius: 8px;
  }
  .image-style {
    width: 300px;
    height: 322px;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    right: 20px;
  }
  .design-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 244px);
    gap: 0;
    row-gap: 8px;
  }
  .box-1 {
    background-color: #bfd8bd;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .box-3 {
    background-color: #77bfa3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    padding: 80px;
  }
  .left-pane {
    height: 100vh;
    position: fixed;
    width: 30%;
  }
  .right-pane {
    width: 54%;
    float: right;
    padding-bottom: 60px;
  }
}
@font-face {
  font-family: madaRegular;
  src: url(../fonts/Mada-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: madaSemiBold;
  src: url(../fonts/Mada-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: madaBold;
  src: url(../fonts/Mada-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: sourceSerifProBold;
  src: url(../fonts/SourceSerifPro-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: sourceSerifProSemiBold;
  src: url(../fonts/SourceSerifPro-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: silkamono;
  src: url(../fonts/SilkaMono-Regular.otf);
  font-display: swap;
}
