.margin-right-12px {
    margin-right: 12px;
}
.padding-top-8px {
    padding-top: 8px;
}
.padding-top-4px {
    padding-top: 4px;
}
.padding-top-16px {
    padding-top: 16px;
}
.padding-top-32px {
    padding-top: 32px;
}
.padding-top-24px {
    padding-top: 24px;
}
.no-margin-top {
    margin-top: 0;
}
.white-text {
    color: #F1F5F9;
}
.grey-text {
    color: #C2D5E0;
}